@charset "utf-8";

/**
 * 登录页面样式
 */

*{
	padding: 0px;
	margin: 0px;
}

body{
	background: url("../img/login_bj.jpg") no-repeat;
	background-size:100% 100%; 	
}

.login_panel{
	width: 350px;
	padding: 20px 30px 1px 20px;
	margin: 200px auto;
	background-color: #fff;
	border-radius:5px;
}